---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="My Portfolio - Home">
  <h1>สวัสดี! ยินดีต้อนรับสู่ Portfolio ของฉัน</h1>
  <p>นี่คือหน้าแรกที่รวบรวมผลงานทั้งหมดของฉัน</p>
</MainLayout>
