---
import Seo from "../components/Seo.astro";
import "glightbox/dist/css/glightbox.css";
import "../styles/global.css";
// เพิ่มค่า Default ให้กับ title และ description
const {
  title = "Untitled Page",
  description = "ผลงานส่วนหนึ่งใน Portfolio ของประดิษฐ์",
} = Astro.props;
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <Seo title={title} description={description} />
  </head>
  <body>
    <header class="navbar">
      <div class="logo">
        <a href="/"
          ><img src="/logo-mann.png" alt="Logo" width="50px" /> PraditLee</a
        >
      </div>
      <nav>
        <ul class="nav-links" id="nav-links">
          <li><a href="/about">About Me</a></li>
          <li><a href="#contact">Contact</a></li>
          <!-- <li><a href="/live-scribing">Live Scribing</a></li> -->
        </ul>
      </nav>
      <button
        class="hamburger-menu"
        id="hamburger-btn"
        aria-label="Toggle Menu"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </header>

    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <footer>&copy; 2025 Pradit Leelanimit All Rights Reserved</footer>

    <script>
      const hamburgerBtn = document.getElementById("hamburger-btn");
      const navLinks = document.getElementById("nav-links");

      hamburgerBtn.addEventListener("click", () => {
        // เพิ่ม/ลบคลาสให้กับ navLinks (เหมือนเดิม)
        navLinks.classList.toggle("is-active");

        // เพิ่ม/ลบคลาสให้กับตัวปุ่มเองด้วย! (บรรทัดใหม่)
        hamburgerBtn.classList.toggle("is-active");
      });
    </script>
  </body>
</html>
