---
// 1. Import CSS ของ GLightbox เข้ามาตรงนี้
//    วิธีนี้จะทำให้ Astro นำ CSS ไปรวมกับไฟล์ของโปรเจกต์เราโดยตรง
import "glightbox/dist/css/glightbox.css";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
  </head>
  <body>
    <header class="navbar">
      <div class="logo">
        <a href="/"
          ><img src="logo-mann.png" alt="Logo" width="50px" /> PraditLee</a
        >
      </div>
      <nav>
        <ul class="nav-links" id="nav-links">
          <li><a href="/graphic-design">Graphic Design</a></li>
          <li><a href="/video-editor">Video Editor</a></li>
          <li><a href="/web-developer">Web Developer</a></li>
          <li><a href="/live-scribing">Live Scribing</a></li>
        </ul>
      </nav>
      <button
        class="hamburger-menu"
        id="hamburger-btn"
        aria-label="Toggle Menu"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </header>

    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <footer>&copy; 2025 Pradit Leelanimit All Rights Reserved</footer>

    <script>
      import GLightbox from "glightbox";

      const lightbox = GLightbox({
        selector: ".glightbox",
        touchNavigation: true,
        loop: true,
        openEffect: "zoom",
        closeEffect: "fade",
        descriptionPosition: "bottom",
      });
    </script>
    <script>
      const hamburgerBtn = document.getElementById("hamburger-btn");
      const navLinks = document.getElementById("nav-links");

      hamburgerBtn.addEventListener("click", () => {
        // เพิ่ม/ลบคลาสให้กับ navLinks (เหมือนเดิม)
        navLinks.classList.toggle("is-active");

        // เพิ่ม/ลบคลาสให้กับตัวปุ่มเองด้วย! (บรรทัดใหม่)
        hamburgerBtn.classList.toggle("is-active");
      });
    </script>
  </body>
</html>
